html{
  height:100%;
}
body{
  height:100%;
  width: 100%;
}
.all{
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
}
header{
  height:64px;
  width:100%;
  background: #444A59;
  position: relative;
  z-index: 1000;
}
.top-left{
  position: absolute;
  left:12px;
  top:34.5px;
  z-index: 3000;
}
.top-right{
  position: absolute;
  left:349px;
  top:34.5px;
}
header p{
  color: #fff;
  width:100%;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top:33.5px;
  letter-spacing: 1px;
}

footer{
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  overflow: scroll;
  padding-top: 75px;
}

.end{
  height:200px;
  padding-top: 50px;
  box-sizing: border-box;
}
.text-know{
  color: #777;
}

.left-menu{
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: #444a59;
  z-index: 2000;
  transform: translate(-100%,0);
  transition: 1s;
}
.left-menu.active{
  transform: translate(-20%,0);
  z-index:1000;
}

.left-menu ul{
  padding-top: 15vh;
}

.left-menu ul li{
  height: 10vh;
  line-height: 10vh;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  padding-left: 20%;
}
.left-menu ul li a{
  color: #fff;
}

.right-menu{
  transition: 1s;
  position: relative;
  height:100%;
  width:100%;
}
.black{
  height:100%;
  width: 100%;
  position: absolute;
  top: 0;
  left:0;
  z-index: 4000;
  background: rgba(0,0,0,0.5);
  display: none;
}

.black.active{
  display: block;
}

.right-menu.active{
  transform: translate(80%,0);
}

.left-menu ul li a{
  width:100%;
  height:100%;
  display: inline-block;
}